body {
    background-image: url(assets/images/era_1.png);
    background-size: cover;
    background-position: center;
}

@font-face {
    font-family: sunny-spells;
    src: url(assets/fonts/sunny-spells.otf) format(opentype),
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: sunny-spells, sans-serif;
    text-align: center;
    font-size: 120;
    color: white;
}
