body {
    background-image: url(backg.jpg);
}

@font-face {
    font-family: love seed;
    src(plugins/love.ttf);
}

font {
    color: #597d37;
    font-size:50;
    font-family: love seed;
}

h1 {
    font-family: love seed;
}
